@model List<(Post, int)>
@{
    ViewData["Title"] = "First Query";
}

<h2>First Query</h2>

@using (Html.BeginForm("First", "Home"))
{
    <input type="text" id="userId" name="userId" placeholder="Enter user id" />
    <input type="submit" value="Get result" />
}
@if (Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Post</th>
                <th>Comments count</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Item1.Body -@item.Item1.CreateAt.ToString("d")</td>
            <td>@item.Item2</td>
        </tr>
        }

    </table>
}