@model List<Comment>
@{
    ViewData["Title"] = "Second Query";
}
<br/>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="active">Second query</li>
</ol>

<h2>Second Query</h2>

@using (Html.BeginForm("Second", "Home"))
{
    <input type="text" id="userId" name="userId" placeholder="Enter user id" />
    <input type="submit" value="Get result" />
}


@if (Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Commentary</th>
                <th>Create At</th>
                <th>Likes</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Body</td>
                <td><span class="badge">@item.CreateAt.ToString("d")</span></td>
                <td>@item.Likes</td>
            </tr>
        }
    </table>
}
