@model List<(int, string)>
@{
    ViewData["Title"] = "Third Query";
}

<h2>Third Query</h2>

@using (Html.BeginForm("Third", "Home"))
{
    <input type="text" id="userId" name="userId" placeholder="Enter user id" />
    <input type="submit" value="Get result" />
}

@if (Model != null)
{

    <h3>Completed tasks:</h3>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>ToDo</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Item1</td>
                <td> @item.Item2</td>
            </tr>
        }
    </table>
}
